
learn1/.DS_Store
learn1/.idea/inspectionProfiles/profiles_settings.xml
learn1/.idea/misc.xml
learn1/.idea/modules.xml
learn1/.idea/pythonProject1.iml
learn1/001. gra wisielec- proba1.py
learn1/001. gra wisielec-proba2.py
learn1/002. generator hasla.py
learn1/003. odliczanie.py
learn1/003b. odliczanie z pętlą.py
learn1/004. papier nozyce kamien.py
learn1/004b. papier nozyce kamien z wykorzystaniem funkcji.py
learn1/004c. papier nozyce kamien z funkcjami i slownikiem.py
learn1/for petla.py
learn1/start.py
learn1/start2.py
